<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Adapter" version="1.1.1301.1418" targetFramework="net45" />
  <package id="Adapter.Implementation" version="1.0.1212.0616" targetFramework="net45" />
  <package id="Adapter.Interfaces" version="1.0.1212.0616" targetFramework="net45" />
  <package id="Adapter.Sdk" version="1.0.1212.0616" targetFramework="net45" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net45" />
  <package id="mstest-analyzer" version="0.6.1" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.9.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net45" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.12.0" targetFramework="net45" />
</packages>